
@model ML.Libro

<div class="row">
    <div class="col-6 mb-3">
        <strong>Título:</strong>
        <p>@Model.Titulo</p>
    </div>

    <div class="col-6 mb-3">
        <strong>Año de publicación:</strong>
        <p>@Model.AnioPublicacion</p>
    </div>

    <div class="col-6 mb-3">
        <strong>Autor:</strong>
        <p>@Model.Autor.Nombre @Model.Autor.Apellidos</p>
    </div>

    <div class="col-6 mb-3">
        <strong>Editorial:</strong>
        <p>@Model.Editorial.Nombre</p>
    </div>
</div>
