
@model ML.Libro

<h2 class="text-center mb-4">📘 Nuevo Libro</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("Form", "Libro", FormMethod.Post))
{
    <div class="row mb-3">

        <div class="col-6">
            @Html.LabelFor(model => model.Titulo)
            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @onkeypress = "soloLetras(event,this)", @onpaste = "soloTitulo(this)" })
        
        </div>

        <div class="col-6">
            @Html.LabelFor(model => model.AnioPublicacion)
            @Html.TextBoxFor(model => model.AnioPublicacion, new { @class = "form-control", @onkeypress = "soloNumeros(event,this)", @onpaste = "soloNumeros(event,this)" })
            <span class="valid-feedback">Caracteres correctos.</span>
            <span class="invalid-feedback">Solo se permiten Numeros.</span>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col-6">
            @Html.Label("Autor")
            @Html.TextBoxFor(model => model.Autor.IdAutor, new { @class = "form-control", @onkeypress = "soloNumeros(event,this)", @onpaste = "soloNumeros(event,this)" })
            <span class="valid-feedback">Caracteres correctos.</span>
            <span class="invalid-feedback">Solo se permiten Numeros.</span>
        </div>

        <div class="col-6">
            @Html.Label("Editorial")
            @Html.TextBoxFor(model => model.Editorial.IdEditorial, new { @class = "form-control", @onkeypress = "soloNumeros(event,this)", @onpaste = "soloNumeros(event,this)" })
            <span class="valid-feedback">Caracteres correctos.</span>
            <span class="invalid-feedback">Solo se permiten Numeros.</span>
        </div>

    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">
            Guardar Libro
        </button>
        <a href="@Url.Action("GetAll","Libro")" class="btn btn-secondary">
            Cancelar
        </a>
    </div>
}


<script src="~/Scripts/jquery-3.7.0.js"></script>
<script src="~/Scripts/Libro.js"></script>