@model ML.Libro

<h2 class="text-center mb-4">📚 Gestión de Libros</h2>

<div class="row mb-4">
    <div class="col-6">
        <button class="btn btn-outline-primary w-100" onclick="mostrarBusqueda()">
            <strong>Buscar Libros</strong>
        </button>
    </div>
    <div class="col-6">
        <a href="@Url.Action("Form","Libro")" class="btn btn-outline-success w-100">
            <strong>Nuevo Libro</strong>
        </a>
    </div>
</div>


<div id="formularioBusqueda" style="display:none">

    @using (Html.BeginForm("GetAll", "Libro", FormMethod.Post))
    {
        <div class="row mb-3">

            <div class="col-6">
                @Html.LabelFor(model => model.Autor.Nombre)
                @Html.TextBoxFor(model => model.Autor.Nombre, new { @class = "form-control", placeholder = "Autor" })
            </div>

            <div class="col-6">
                @Html.LabelFor(model => model.Titulo)
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", placeholder = "Título del libro" })
            </div>

        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">
                Buscar
            </button>
        </div>
    }

</div>


<br />



<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-secondary text-center">
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Apellidos</th>
                <th>Editorial</th>
                <th>Año</th>
                <th>Detalle</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Libros.Count > 0)
            {
                foreach (ML.Libro libro in Model.Libros)
                {
                    <tr>
                        <td>@libro.Titulo</td>
                        <td>@libro.Autor.Nombre</td>
                        <td>@libro.Autor.Apellidos</td>
                        <td>@libro.Editorial.Nombre</td>
                        <td>@libro.AnioPublicacion</td>
                        <td class="text-center">
                            <a class="btn btn-info btn-sm">Ver</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No hay Registros en la tabla</p>
            }
        </tbody>
    </table>
</div>


<script>
    function mostrarBusqueda() {
        document.getElementById("formularioBusqueda").style.display = "block";
    }
</script>
